.container-title{
    height: 56px;
    padding: 40px;
    font-weight: 700;
    font-size: 38px;
    color: #FFFFFF;
}

.playlists-container{
    max-height: max-content;
    overflow-x: hidden;
}

.container{
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.playlists{
    width: 1620px;
}