.playlist-card{
    width: 220px;
    height: 60px;
    margin:10px;
    background-color: #303030;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.playlist-card-cover{
    width: 60px;
    height: 60px;
}

.playlist-card-title{
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 10px;
}

